label: "Alice Veritable UI"
fullnameOverride: alice-veritable-ui
publicUrl: http://localhost:3080
apiSwaggerTitle: Alice
apiSwaggerBgColor: "#38b6ff"
idpClientId: "alice"
idpPublicURLPrefix: http://localhost:3080/auth2/realms/simple/protocol/openid-connect
idpInternalURLPrefix: http://keycloak-http.keycloak.svc.cluster.local/auth2/realms/simple/protocol/openid-connect
externalCloudagent:
  host: "alice-veritable-cloudagent-admin.alice.svc.cluster.local"
  port: "3000"
demoMode: true
smtpHost: localhost
smtpSecure: false
smtpPort: 25
smtpCredentials:
  enabled: false
  userSecret: username
  passwordSecret: password
invitationPin:
  enabled: true
  secret: secret
cnpg:
  enabled: false
externalDatabase:
  create: false
  host: alice-veritable-ui-cnpg-rw.alice.svc.cluster.local
  port: 5432
  user: postgres
  password: postgres
  database: veritable-ui
  postgresPassword: postgres
  postgresqlPostgresPassword: postgres
ingress:
  hostname: localhost
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "web"
    traefik.ingress.kubernetes.io/router.tls: "false"
  ingressClassName: traefik
  service:
    type: ClusterIP
logLevel: trace
